@import 'tailwindcss';

@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 200 1000;
	font-display: swap;
	src: url(/font/nunito.woff2) format('woff2');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
	--color-primary: #9d8dd3;
	--color-secondary: #8f8dd3;
	--color-text: #dfd7f9;

	--color-background: #121617;
	--color-card: #1f2324;
}

* {
	@apply box-border;
}

body {
	font-family: 'Outfit', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nunito', 'Outfit', sans-serif;
}

button {
	@apply rounded bg-primary px-2 py-1 text-white transition-all outline-none not-disabled:hover:brightness-90 not-disabled:active:scale-[1.02] disabled:grayscale-75;
}

input {
	@apply rounded border border-primary px-4 py-2 text-text transition-all outline-none;
}

input:focus {
	@apply border-primary;
}

select {
	@apply rounded border border-primary px-4 py-2 transition-all outline-none;
}

/* Any a that has no other elements inside of it */
a:not(:has(*)) {
	@apply text-primary underline transition-all hover:brightness-125;
}

.card {
	@apply mx-auto my-12 h-fit rounded-lg bg-card p-4 lg:w-4xl;
}

.overshoot {
	@apply ease-[linear(0,0.918_15%,1.186_23.2%,1.338_32.2%,1.378_39.4%,1.362_47.4%,1.059_81.6%,1)];
}
