@import url('https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.21.0/fonts/tabler-icons.ttf');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 200 10% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 200 10% 90%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 0 0% 33%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4% 7%; 
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 5.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 47%; 
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0 19%;
    --input: 240 3.7% 15.9%;
    --ring: 240 3.7% 70.9%;
  }
}

.focus-visible\:ring-2:focus-visible {
  box-shadow: none !important;
  border-color: hsl(var(--ring));
}

.markdown > * {
  margin-bottom: 1em;
}

.markdown h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.markdown h2 {
  font-size: 1.3rem;
  line-height: 1.2;
  font-weight: bold;
}

.markdown h3 {
  font-size: 1.2rem;
  line-height: 1.15;
}

.markdown h4 {
  font-size: 1.1rem;
  line-height: 1.1;
}

.markdown h5 {
  font-size: 1rem;
  line-height: 1.1;
}

.markdown ul > li {
  display: list-item;
  list-style-type: disc;
  margin-left: 1em;
}

.markdown ol > li {
  display: list-item;
  list-style-type: decimal;
  margin-left: 1em;
}

.markdown a {
  color: #3b82f6;
}

.markdown a:hover {
  color: #2d69f3;
}

.markdown pre:has(code) {
  width: 100%;
  color: hsl(var(--card-foreground));
  background-color: hsl(var(--card)); 
  border-radius: 3px;
  padding: 1em 1em;
}

.markdown blockquote {
  border-left: 4px solid hsl(var(--card));
  padding-left: 1em;
}